<a href="https://colab.research.google.com/github/rtegao/M5Forecasting/blob/master/FeatureEngineering.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Importing Libraries

In [0]:
import tensorflow as tf
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from tensorflow.keras import optimizers, regularizers
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, LSTM, Dropout
from sklearn.preprocessing import MinMaxScaler

# Reading Datasets

In [0]:
# Contains information about the dates the products are sold.
df_calendar = pd.read_csv('/content/drive/My Drive/Specialization/Projects/Recurrent Neural Networks/M5 - Data/calendar.csv')

# Contains information about the price of the products sold per store and date.
df_price = pd.read_csv('/content/drive/My Drive/Specialization/Projects/Recurrent Neural Networks/M5 - Data/sell_prices.csv')

#Contains the historical daily unit sales data per product and store.
df_sales = pd.read_csv('/content/drive/My Drive/Specialization/Projects/Recurrent Neural Networks/M5 - Data/sales_train_validation.csv')

In [5]:
df_calendar

            date  wm_yr_wk    weekday  ...  snap_CA  snap_TX  snap_WI
0     2011-01-29     11101   Saturday  ...        0        0        0
1     2011-01-30     11101     Sunday  ...        0        0        0
2     2011-01-31     11101     Monday  ...        0        0        0
3     2011-02-01     11101    Tuesday  ...        1        1        0
4     2011-02-02     11101  Wednesday  ...        1        0        1
...          ...       ...        ...  ...      ...      ...      ...
1964  2016-06-15     11620  Wednesday  ...        0        1        1
1965  2016-06-16     11620   Thursday  ...        0        0        0
1966  2016-06-17     11620     Friday  ...        0        0        0
1967  2016-06-18     11621   Saturday  ...        0        0        0
1968  2016-06-19     11621     Sunday  ...        0        0        0

[1969 rows x 14 columns]

In [6]:
df_price

        store_id        item_id  wm_yr_wk  sell_price
0           CA_1  HOBBIES_1_001     11325        9.58
1           CA_1  HOBBIES_1_001     11326        9.58
2           CA_1  HOBBIES_1_001     11327        8.26
3           CA_1  HOBBIES_1_001     11328        8.26
4           CA_1  HOBBIES_1_001     11329        8.26
...          ...            ...       ...         ...
6841116     WI_3    FOODS_3_827     11617        1.00
6841117     WI_3    FOODS_3_827     11618        1.00
6841118     WI_3    FOODS_3_827     11619        1.00
6841119     WI_3    FOODS_3_827     11620        1.00
6841120     WI_3    FOODS_3_827     11621        1.00

[6841121 rows x 4 columns]

In [7]:
df_sales

                                  id        item_id  ... d_1912 d_1913
0      HOBBIES_1_001_CA_1_validation  HOBBIES_1_001  ...      1      1
1      HOBBIES_1_002_CA_1_validation  HOBBIES_1_002  ...      0      0
2      HOBBIES_1_003_CA_1_validation  HOBBIES_1_003  ...      1      1
3      HOBBIES_1_004_CA_1_validation  HOBBIES_1_004  ...      7      2
4      HOBBIES_1_005_CA_1_validation  HOBBIES_1_005  ...      2      4
...                              ...            ...  ...    ...    ...
30485    FOODS_3_823_WI_3_validation    FOODS_3_823  ...      0      1
30486    FOODS_3_824_WI_3_validation    FOODS_3_824  ...      1      0
30487    FOODS_3_825_WI_3_validation    FOODS_3_825  ...      1      0
30488    FOODS_3_826_WI_3_validation    FOODS_3_826  ...      1      3
30489    FOODS_3_827_WI_3_validation    FOODS_3_827  ...      0      0

[30490 rows x 1919 columns]

# Filtering a Specific Product

In [0]:
df_food =  df_sales.iloc[df_sales[df_sales['id'] == 'FOODS_3_495_WI_3_validation'].loc[:,'d_1':].index[0],6:]

# Joing DataFrames

In [0]:
df_calendar_price = df_calendar.set_index('wm_yr_wk').join(df_price[(df_price['store_id'] == df_sales[df_sales['id'] == 'FOODS_3_495_WI_3_validation']['store_id'].values[0]) & 
         (df_price['item_id'] == df_sales[df_sales['id'] == 'FOODS_3_495_WI_3_validation']['item_id'].values[0])].set_index('wm_yr_wk')).reset_index()
df_final = df_food.to_frame('qty_sales').reset_index().set_index('index').join(df_calendar_price.set_index('d'))

In [23]:
df_final

       qty_sales  wm_yr_wk        date  ... store_id      item_id  sell_price
index                                   ...
d_1            1     11101  2011-01-29  ...     WI_3  FOODS_3_495        1.77
d_2            2     11101  2011-01-30  ...     WI_3  FOODS_3_495        1.77
d_3            4     11101  2011-01-31  ...     WI_3  FOODS_3_495        1.77
d_4            2     11101  2011-02-01  ...     WI_3  FOODS_3_495        1.77
d_5            3     11101  2011-02-02  ...     WI_3  FOODS_3_495        1.77
...          ...       ...         ...  ...      ...          ...         ...
d_1909         1     11612  2016-04-20  ...     WI_3  FOODS_3_495        1.98
d_1910         2     11612  2016-04-21  ...     WI_3  FOODS_3_495        1.98
d_1911         4     11612  2016-04-22  ...     WI_3  FOODS_3_495        1.98
d_1912         2     11613  2016-04-23  ...     WI_3  FOODS_3_495        1.98
d_1913         0     11613  2016-04-24  ...     WI_3  FOODS_3_495        1.98

[1913 rows x 17 columns]

# Genereting New Features

- ## Revenue
- ## Lag Day
- ## Roling Mean Revenue/Sales

In [0]:
df_final['revenue_day'] = df_final['sell_price']*df_final['qty_sales']

In [0]:
df_final['lag_1'] = df_final['qty_sales'].shift(1)
df_final['lag_2'] = df_final['qty_sales'].shift(2)
df_final['lag_3'] = df_final['qty_sales'].shift(3)
df_final['lag_4'] = df_final['qty_sales'].shift(4)
df_final['lag_5'] = df_final['qty_sales'].shift(5)
df_final['lag_6'] = df_final['qty_sales'].shift(6)
df_final['lag_7'] = df_final['qty_sales'].shift(7)

In [0]:
df_final['rolling_mean_revenue_2'] = df_final['revenue_day'].rolling(window = 2).mean()
df_final['rolling_mean_revenue_3'] = df_final['revenue_day'].rolling(window = 3).mean()
df_final['rolling_mean_revenue_4'] = df_final['revenue_day'].rolling(window = 4).mean()
df_final['rolling_mean_revenue_5'] = df_final['revenue_day'].rolling(window = 5).mean()
df_final['rolling_mean_revenue_6'] = df_final['revenue_day'].rolling(window = 6).mean()
df_final['rolling_mean_revenue_7'] = df_final['revenue_day'].rolling(window = 7).mean()

In [0]:
df_final['rolling_mean_sales_2'] = df_final['qty_sales'].rolling(window = 2).mean()
df_final['rolling_mean_sales_3'] = df_final['qty_sales'].rolling(window = 3).mean()
df_final['rolling_mean_sales_4'] = df_final['qty_sales'].rolling(window = 4).mean()
df_final['rolling_mean_sales_5'] = df_final['qty_sales'].rolling(window = 5).mean()
df_final['rolling_mean_sales_6'] = df_final['qty_sales'].rolling(window = 6).mean()
df_final['rolling_mean_sales_7'] = df_final['qty_sales'].rolling(window = 7).mean()

In [0]:
df_final = df_final[['wday','month','sell_price','revenue_day','lag_1','lag_2','lag_3','lag_4','lag_5','lag_6','lag_7','rolling_mean_revenue_2',	'rolling_mean_revenue_3',	'rolling_mean_revenue_4',	'rolling_mean_revenue_5',	'rolling_mean_revenue_6',	'rolling_mean_revenue_7',
                     'rolling_mean_sales_2',	'rolling_mean_sales_3',	'rolling_mean_sales_4',	'rolling_mean_sales_5',	'rolling_mean_sales_6',	'rolling_mean_sales_7', 'qty_sales']].fillna(0).astype(float)

In [29]:
df_final

        wday  month  ...  rolling_mean_sales_7  qty_sales
index                ...
d_1      1.0    1.0  ...              0.000000        1.0
d_2      2.0    1.0  ...              0.000000        2.0
d_3      3.0    1.0  ...              0.000000        4.0
d_4      4.0    2.0  ...              0.000000        2.0
d_5      5.0    2.0  ...              0.000000        3.0
...      ...    ...  ...                   ...        ...
d_1909   5.0    4.0  ...              2.857143        1.0
d_1910   6.0    4.0  ...              2.571429        2.0
d_1911   7.0    4.0  ...              2.714286        4.0
d_1912   1.0    4.0  ...              2.857143        2.0
d_1913   2.0    4.0  ...              2.285714        0.0

[1913 rows x 24 columns]

In [30]:
df_final.corr()

                            wday     month  ...  rolling_mean_sales_7  qty_sales
wday                    1.000000 -0.000771  ...              0.001277  -0.085983
month                  -0.000771  1.000000  ...             -0.111900  -0.063398
sell_price             -0.000212  0.189916  ...             -0.088644  -0.070568
revenue_day            -0.086179 -0.058242  ...              0.485518   0.999454
lag_1                  -0.063276 -0.060799  ...              0.501442   0.154693
lag_2                  -0.012181 -0.062983  ...              0.503140   0.109199
lag_3                   0.036394 -0.060608  ...              0.526606   0.168682
lag_4                   0.092493 -0.057803  ...              0.506556   0.088127
lag_5                   0.085384 -0.057354  ...              0.507587   0.109259
lag_6                  -0.043217 -0.053459  ...              0.500921   0.128097
lag_7                  -0.086534 -0.045136  ...              0.245610   0.084568
rolling_mean_revenue_2 -0.098609 -0.074820  ...              0.649215   0.759145
rolling_mean_revenue_3 -0.082230 -0.087155  ...              0.760629   0.644159
rolling_mean_revenue_4 -0.051899 -0.093741  ...              0.844626   0.597827
rolling_mean_revenue_5 -0.011178 -0.098414  ...              0.906599   0.543864
rolling_mean_revenue_6  0.016853 -0.101950  ...              0.957814   0.511707
rolling_mean_revenue_7  0.001431 -0.102774  ...              0.998449   0.486419
rolling_mean_sales_2   -0.097961 -0.081466  ...              0.650194   0.759781
rolling_mean_sales_3   -0.081787 -0.094718  ...              0.761570   0.644780
rolling_mean_sales_4   -0.051433 -0.101845  ...              0.845623   0.598260
rolling_mean_sales_5   -0.010929 -0.106990  ...              0.907729   0.544332
rolling_mean_sales_6    0.016821 -0.110872  ...              0.959010   0.512285
rolling_mean_sales_7    0.001277 -0.111900  ...              1.000000   0.486284
qty_sales              -0.085983 -0.063398  ...              0.486284   1.000000

[24 rows x 24 columns]

#Spliting Data

In [10]:
train_limit = int(round((df_food.shape[0])*0.7,0))
val_limit = int(round((df_food.shape[0])*0.85,0))

df_train = df_food[:train_limit]
df_val = df_food[train_limit:val_limit]
df_test = df_food[val_limit:]

print(df_train.shape)
print(df_val.shape)
print(df_test.shape)

(1339,)
(287,)
(287,)